<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie add</title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
      </figure>
    <h1 class="titulo">Agregar Genero</h1>
    <br>
    <section class="formulario">
        <form action="/genres/create" method="POST">
            <label for="name">Nombre </label>
            <p><input type="text" name="name" id="" ></p>
            <label for="ranking">Ranking </label>
            <p><input type="number" name="ranking" id="" > </p>
             
            </select>

            <br>
            <p> <button class="botonAgregar" type="submit">Agregar</button>
            
            <a  class="botonVolver" href="/genres">Cancelar</a></p>
        </form>
    </section>
    
</body>

</html>