<ul style="display:flex; gap:25px"> 
    <li><a href="/movies">Listado de Peliculas</a></li>
    <li><a href="/genres">Listado de Generos</a></li>
    <li><a href="/actors">Listado de Actores</a></li>
</ul>